<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductMapper">

    <insert id="insertProduct">
        INSERT INTO PRODUCT_TBL VALUES(DEFAULT, #{productName},#{productDetail}, #{productPrice}, DEFAULT,#{categoryNo})
    </insert>

    <insert id="insertCategory">
        INSERT INTO CATEGORY_TBL VALUES(default,#{categoryName},#{accountSerial})
    </insert>

    <update id="updateProduct">
        UPDATE PRODUCT_TBL
           SET PRODUCT_NAME = #{productName}
             , PRODUCT_DETAIL = #{productDetail}
             , PRODUCT_PRICE = #{productPrice}
             , CATEGORY_NO = #{categoryNo}
         WHERE PRODUCT_NO = #{productNo}
    </update>
    <update id="updateSoldOutProduct">
        UPDATE PRODUCT_TBL
        <if test="productActive == 0">
            SET PRODUCT_ACTIVE = 1
        </if>
        <if test="productActive == 1">
            SET PRODUCT_ACTIVE = 0
        </if>
            WHERE PRODUCT_NO = #{productNo}
    </update>

    <update id="updateCategory">
        UPDATE CATEGORY_TBL
           SET CATEGORY_NAME = #{categoryName}
         WHERE CATEGORY_NO = #{categoryNo}
    </update>

    <delete id="deleteProductByNo">
        DELETE FROM PRODUCT_TBL WHERE PRODUCT_NO = #{productNo}
    </delete>
    <delete id="deleteCategoryByNo">
        DELETE FROM CATEGORY_TBL WHERE CATEGORY_NO = #{categoryNo}
    </delete>

    <select id="selectMenuByCategoryNo" resultType="Product">
        SELECT * FROM PRODUCT_TBL WHERE CATEGORY_NO = #{categoryNo}
    </select>
</mapper>